<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{ .deps.Use "webr.js" }}
    
    {{ template "layout_head.html" . }}
    <style>
        .form-container {
            margin-top: 45vh;
            transform: translateY(-50%);
        }
        #app{
            background-image: linear-gradient(
                    to bottom right,
                    rgb(114, 135, 254),
                    rgb(27, 165, 142)
            );
        }
    </style>
</head>

<body>
<div id="app" class="container-fluid min-vh-100">
    <div class="row justify-content-center">
        <div class="col-8 col-md-4 form-container card">
               {{ template "login-form" . }}
        </div>
    </div>
   {{ template "layout_footer.html" . }}
</div>

</body>
</html>

{{ define "login-form" }}
<form  class="card-body needs-validation mt-3" method="post" id="login-form" action='{{ abs_link "login"}}'>
    <div class="row mb-3">
        <label class="col-3 col-form-label text-end text-nowrap">{{ "账&nbsp;&nbsp;&nbsp;号"|xit "login@username"| xHTML }}：</label>
        <div class="col-9">
            <input type="text" class="form-control" name="Name"  required  autocomplete="off" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-3 col-form-label text-end text-nowrap">{{ "密&nbsp;&nbsp;&nbsp;码" | xit "login@password" | xHTML }}：</label>
        <div class="col-9">
            <input type="password"  class="form-control" name="Password" required autocomplete="off" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-3 col-form-label text-end text-nowrap">{{ "验证码" | xit "login@caption" }}：</label>
        <div class="col-9">
            <div class="input-group">
                <input type="hidden" name="TP" value="login"/>
                <input type="text"  class="form-control" name="Code" required autocomplete="off"/>
                <img src='{{ abs_link "code" }}?tp=login' class="input-group-text cap-code" />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="d-flex justify-content-around">
            <input type="submit"  class="btn btn-primary px-4" value='{{ "登录"|xit "login@submit"}}'>
            <input type="reset"  class="btn btn-primary px-4" value='{{ "重置" |xit "login@reset" }}'>
        </div>

    </div>
</form>
<script>
    $().ready(function() {
        const cap=$("img.cap-code")
        cap.click(function(){
            $(this).attr("src",'{{ abs_link "code" }}?tp=login&r='+Math.random());
        })
        webr.JSONForm("#login-form",function(resp){
            if ( resp.Code != 0 ){
                webr.Error(resp.Msg)
                cap.trigger("click")
            }else{
                webr.Toast("登录成功!")
                location.href='{{ abs_link "/" }}';
            }
        })
    })
</script>
{{ end }}


